<div>
  <h4 class="mb-4 text-muted">Ver Bitácora</h4>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <h5 class="text-muted mb-3 mt-3">Información</h5>
          <form id="regiration_form" method="post">

            <div class="form-row">
              <div class="form-group col-lg-12">
                <label class="col-form-label text-nowrap text-muted">Usuario:</label>
                <input type="text" class="form-control rounded-0" autocomplete="off" required [(ngModel)]="bitacora.nombreUsuario"
                  name="nombre" maxlength="500" readonly>
              </div>
              <!--<div class="form-group col-lg-4">
                <label class="col-form-label text-nowrap text-muted">Acción:</label>
                <input type="text" class="form-control rounded-0" autocomplete="off" required [(ngModel)]="bitacora.accion"
                  name="accion" maxlength="500" readonly>
              </div>
              <div class="form-group col-lg-4">
                <label class="col-form-label text-nowrap text-muted">Tipo de Acción:</label>
                <input type="text" class="form-control rounded-0" autocomplete="off" required [(ngModel)]="bitacora.tipoAccion"
                  name="tipo" maxlength="500" readonly>
              </div>-->
            </div>

            <div class="form-row">
              <div class="form-group col-lg-12">
                <label class="col-form-label text-nowrap text-muted">Descripción:</label>
                <input type="text" class="form-control rounded-0" autocomplete="off" required [(ngModel)]="bitacora.descripcion"
                  name="descripcion" maxlength="500" readonly>
              </div>
            </div>

            <div class="form-row" *ngIf="(bitacora.tipoAccion!=6 && mostrarInicial && mostrarModificado)">
              <div class="form-group col-lg-6" *ngIf="mostrarInicial">
                <label class="col-form-label text-nowrap text-muted">Contenido Inicial:</label>
                <div class="border" style="background-color: #ECEEF4;" class="pt-2 pb-2">
                  <ngx-json-viewer [json]="bitacora.contenidoInicial"></ngx-json-viewer>
                </div>
              </div>
              <div class="form-group col-lg-6" *ngIf="mostrarModificado">
                <label class="col-form-label text-nowrap text-muted">Contenido Modificado:</label>
                <div class="border" style="background-color: #ECEEF4;" class="pt-2 pb-2">
                  <ngx-json-viewer [json]="bitacora.contenidoModificado"></ngx-json-viewer>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="(bitacora.tipoAccion!=6 && !(mostrarInicial && mostrarModificado))">
              <div class="form-group col-lg-12" *ngIf="mostrarInicial">
                <label class="col-form-label text-nowrap text-muted">Contenido Inicial:</label>
                <div class="border" style="background-color: #ECEEF4;" class="pt-2 pb-2">
                  <ngx-json-viewer [json]="bitacora.contenidoInicial"></ngx-json-viewer>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="(bitacora.tipoAccion!=6 && !(mostrarInicial && mostrarModificado))">
              <div class="form-group col-lg-12" *ngIf="mostrarModificado">
                <label class="col-form-label text-nowrap text-muted">Contenido Modificado:</label>
                <div class="border" style="background-color: #ECEEF4;" class="pt-2 pb-2">
                  <ngx-json-viewer [json]="bitacora.contenidoModificado"></ngx-json-viewer>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="(bitacora.tipoAccion==6 && mostrarInicial)">
              <div class="form-group col-lg-12">
                <label class="col-form-label text-nowrap text-muted">Contenido Inicial:</label>
                <div class="border" style="background-color: #ECEEF4;" class="pt-2 pb-2">
                  <ngx-json-viewer [json]="bitacora.contenidoInicial"></ngx-json-viewer>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="(bitacora.tipoAccion==6 && mostrarModificado)">
              <div class="form-group col-lg-12">
                <label class="col-form-label text-nowrap text-muted">Contenido Modificado:</label>
                <div class="border" style="background-color: #ECEEF4;" class="pt-2 pb-2">
                  <ngx-json-viewer [json]="bitacora.contenidoModificado"></ngx-json-viewer>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
