<div>
  <h4 class="text-muted mb-4">Listado de Alumnos</h4>

  <div class="form-row">
    <div class="form-group col-xl-8">
      <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
        placeholder="Buscar Alumno..." (keyup)="buscarAlumno($event)"/>
    </div>
    <div class="form-group col-xl-2">
      <button class="btn btn-success btn-sm float-right w-100 rounded-0"
        (click)="abrirModalInformacionAlumno(-1)">
        Nuevo &nbsp;<i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="form-group col-xl-2">
      <button class="btn btn-success btn-sm float-right w-100 rounded-0">
        Exportar &nbsp;<i class="far fa-file-pdf"></i>
      </button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table table-hover table-sm" *ngIf="hayAlumnos(); else sinAlumnos">
              <thead>
                <tr>
                  <th scope="col" width="4%" style="text-align: center">N</th>
                  <th scope="col" width="8%" style="text-align: center">DNI</th>
                  <th scope="col">Nombres y apellidos</th>
                  <th scope="col" width="8%" style="text-align: center">Teléfono</th>
                  <th scope="col" width="10%" style="text-align: center;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let alu of alumnos | paginate: config; let i = index">
                  <td scope="row" class="align-middle" style="text-align: center">{{config.itemsPerPage * (config.currentPage - 1) + (i + 1)}}</td>
                  <td class="align-middle" style="text-align: center">{{ alu.dni }}</td>
                  <td class="align-middle">{{ alu.nombres }}, {{alu.apellidos}}</td>
                  <td class="align-middle" style="text-align: center;">{{ alu.telefono }}</td>
                  <td class="align-middle" style="text-align: center;">
                    <a class="btn btn-sm btn-primary rounded-0 mr-2" (click)="abrirModalInformacionAlumno(config.itemsPerPage * (config.currentPage - 1) + (i + 1))"
                      title="Ver / Editar información del Alumno" style="cursor: pointer;">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-primary rounded-0" (click)="abrirModalInformacionApoderado(config.itemsPerPage * (config.currentPage - 1) + (i + 1))" title="Información del Apoderado" style="cursor: pointer;">
                      <i class="fas fa-user-shield"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="col-md-12 mt-4 mx-auto" style="text-align: center" *ngIf="hayAlumnos() && alumnos.length >= 10">
              <pagination-controls (pageChange)="pageChange($event)" id="alumnos" previousLabel="Anterior"
                nextLabel="Siguiente" autoHide="true">
              </pagination-controls>
            </div>

            <ng-template #sinAlumnos>
              <div class="row" style="text-align: center">
                <td class="col-xl-12" style="text-align: center">
                  <h3>
                    No se encontraron
                    <span class="text-muted">Alumnos</span>
                  </h3>
                </td>
                <td class="col-xl-12">
                  <img src="../../../../assets/img/vacio.png" alt="No hay Alumnos registrados"
                    width="30%" />
                </td>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!--Modal Información de Alumno-->
  <div class="modal fade" id="modalInformacionAlumno" tabindex="-1" data-backdrop="static" data-keyboard="false"
    role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-muted">
            <span *ngIf="!editar">Registrar</span><span *ngIf="editar">Editar</span> Alumno
          </h4>
          <button type="button" class="close" (click)="cerrarModalInformacionAlumno(0)" aria-label="Close"
            title="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-xl-6">
              <label class="col-form-label text-nowrap">Nombres:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="alumno.nombres.length != 0" [class.is-invalid]="alumno.nombres.length == 0"
                [(ngModel)]="alumno.nombres" name="alumnoNombres" maxlength="50" />
            </div>
            <div class="form-group col-xl-6">
              <label class="col-form-label text-nowrap">Apellidos:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="alumno.apellidos.length != 0" [class.is-invalid]="alumno.apellidos.length == 0"
                [(ngModel)]="alumno.apellidos" name="alumnoApellidos" maxlength="50"/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-xl-4">
              <label class="col-form-label text-nowrap">Dni:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="alumno.dni.length != 0" [class.is-invalid]="alumno.dni.length == 0"
                [(ngModel)]="alumno.dni" name="alumnoDni" maxlength="8"/>
            </div>
            <div class="form-group col-xl-4">
              <label class="col-form-label text-nowrap">Fecha de nacimiento:</label>
              <input type="date" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="alumno.fechaNacimiento.length != 0" [class.is-invalid]="alumno.fechaNacimiento.length == 0"
                [(ngModel)]="alumno.fechaNacimiento" name="alumnoFechaNacimiento" maxlength="10"/>
            </div>
            <div class="form-group col-xl-4">
              <label class="col-form-label text-nowrap">Teléfono:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="alumno.telefono.length != 0" [class.is-invalid]="alumno.telefono.length == 0"
                [(ngModel)]="alumno.telefono" name="alumnoTelefono" maxlength="9"/>
            </div>
          </div>

          <br />
          <div class="form-row" style="justify-content: center">
            <div class="form-group col-lg-4">
              <button type="button" class="form-control btn btn-info rounded-0 col-lg-12"
                (click)="cerrarModalInformacionAlumno(1)">
                <span *ngIf="!editar">Registrar</span><span *ngIf="editar">Guardar cambios</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin modal Información de Alumno-->

  <!--Modal Información de Apoderado-->
  <div class="modal fade" id="modalInformacionApoderado" tabindex="-1" data-backdrop="static" data-keyboard="false"
    role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-muted">
            <span *ngIf="!editar">Registrar</span><span *ngIf="editar">Editar</span> Apoderado
          </h4>
          <button type="button" class="close" (click)="cerrarModalInformacionApoderado(0)" aria-label="Close"
            title="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-xl-6">
              <label class="col-form-label text-nowrap">Nombres:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="apoderado.nombres.length != 0" [class.is-invalid]="apoderado.nombres.length == 0"
                [(ngModel)]="apoderado.nombres" name="apoderadoNombres" maxlength="50" />
            </div>
            <div class="form-group col-xl-6">
              <label class="col-form-label text-nowrap">Apellidos:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="apoderado.apellidos.length != 0" [class.is-invalid]="apoderado.apellidos.length == 0"
                [(ngModel)]="apoderado.apellidos" name="apoderadoApellidos" maxlength="50"/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-xl-6">
              <label class="col-form-label text-nowrap">Dni:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="apoderado.dni.length != 0" [class.is-invalid]="apoderado.dni.length == 0"
                [(ngModel)]="apoderado.dni" name="apoderadoDni" maxlength="8"/>
            </div>
            <div class="form-group col-xl-6">
              <label class="col-form-label text-nowrap">Teléfono:</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="apoderado.telefono.length != 0" [class.is-invalid]="apoderado.telefono.length == 0"
                [(ngModel)]="apoderado.telefono" name="apoderadoTelefono" maxlength="9"/>
            </div>
          </div>

          <br />
          <div class="form-row" style="justify-content: center">
            <div class="form-group col-lg-4">
              <button type="button" class="form-control btn btn-info rounded-0 col-lg-12"
                (click)="cerrarModalInformacionApoderado(1)">
                <span *ngIf="!editar">Registrar</span><span *ngIf="editar">Guardar cambios</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin modal Información de Apoderado-->