<div>
  <div class="form-row">
    <div class="form-group mr-2">
      <button class="btn btn-success btn-sm float-right rounded-circle" style="width: 35px; height: 35px;"
        (click)="abrirModalInformacionMovimiento(-1)" title="Agregar nuevo movimiento">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="form-group mr-2">
      <button class="btn btn-success btn-sm float-right rounded-circle" style="width: 35px; height: 35px;"
        title="Exportar a Excel">
        <i class="far fa-file-pdf"></i>
      </button>
    </div>
    <h4 class="text-muted mb-4">Listado de Movimientos</h4>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
        placeholder="Buscar Nro operación" (keyup)="buscarMatricula($event, 1)" [(ngModel)]="buscar" />
    </div>
    <div class="form-group col-md-2">
      <select class="form-control form-control-sm rounded-0" autocomplete="off" [(ngModel)]="tipo"
        (change)="buscarMatricula($event, 2)">
        <option value="0">Seleccione tipo</option>
        <option value="1">Ingreso</option>
        <option value="2">Egreso</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off" [(ngModel)]="fechaInicio"
        placeholder="Fecha inicio" onfocus="(this.type='date')" (change)="buscarMatricula($event, 3)" />
    </div>
    <div class="form-group col-md-2">
      <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off" [(ngModel)]="fechaFin"
        placeholder="Fecha fin" onfocus="(this.type='date')" (change)="buscarMatricula($event, 4)" />
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table table-hover table-sm" *ngIf="hayMovimientos(); else sinMovimientos">
              <thead>
                <tr>
                  <th scope="col" width="5%" style="text-align: center">N</th>
                  <th scope="col" width="10%">Fecha</th>
                  <th scope="col">Número de operación</th>
                  <th scope="col" width="15%">Tipo de movimiento</th>
                  <th scope="col" width="8%" style="text-align: center">Total</th>
                  <th scope="col" width="8%" style="text-align: center">A cuenta</th>
                  <th scope="col" width="10%" style="text-align: center;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mov of movimientos | paginate: config; let i = index">
                  <td scope="row" class="align-middle" style="text-align: center">{{config.itemsPerPage *
                    (config.currentPage - 1) + (i + 1)}}</td>
                  <td scope="row" class="align-middle">{{mov.fechaPago | date:'dd-MM-yyyy'}}</td>
                  <td scope="row" class="align-middle">{{mov.numeroOperacion}}</td>
                  <td scope="row" class="align-middle" style="text-align: center"><span *ngIf="mov.tipoMovimiento == 1"
                      class="text-success font-weight-bold">
                      Ingreso</span><span *ngIf="mov.tipoMovimiento == 2"
                      class="text-danger font-weight-bold">Egreso</span></td>
                  <td scope="row" class="align-middle" style="text-align: center">{{mov.total.toFixed(2)}}</td>
                  <td scope="row" class="align-middle" style="text-align: center">{{mov.cuenta.toFixed(2)}}</td>
                  <td class="align-middle" style="text-align: center;">
                    <a class="btn btn-sm btn-primary rounded-0 mr-2"
                      (click)="abrirModalInformacionMovimiento(config.itemsPerPage * (config.currentPage - 1) + (i))"
                      title="Ver / Editar información del Movimiento" style="cursor: pointer;">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger rounded-0"
                      (click)="eliminarMovimiento(config.itemsPerPage * (config.currentPage - 1) + (i))"
                      title="eliminar información de la Matricula" style="cursor: pointer;">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="col-md-12 mt-4 mx-auto" style="text-align: center"
              *ngIf="hayMovimientos() && movimientos.length >= 10">
              <pagination-controls (pageChange)="pageChange($event)" id="movimientos" previousLabel="Anterior"
                nextLabel="Siguiente" autoHide="true">
              </pagination-controls>
            </div>

            <ng-template #sinMovimientos>
              <div class="row" style="text-align: center">
                <td class="col-md-12" style="text-align: center">
                  <h3>
                    No se encontraron
                    <span class="text-muted">Movimientos</span>
                  </h3>
                </td>
                <td class="col-md-12">
                  <img src="../../../../assets/img/vacio.png" alt="No hay Movimientos registrados" width="30%" />
                </td>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Información de Movimiento-->
<div class="modal fade" id="modalInformacionMovimiento" tabindex="-1" data-backdrop="static" data-keyboard="false"
  role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-muted">
          <span *ngIf="!editar">Registrar</span><span *ngIf="editar">Editar</span> Movimiento
        </h4>
        <button type="button" class="close" (click)="cerrarModalInformacionMovimiento(0)" aria-label="Close"
          title="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label class="col-form-label text-nowrap">Tipo de movimiento:</label>
            <select type="text" class="form-control form-control-sm rounded-0" autocomplete="off" [disabled]="editar"
              [class.is-valid]="movimiento.tipoMovimiento != 0" [class.is-invalid]="movimiento.tipoMovimiento == 0"
              [(ngModel)]="movimiento.tipoMovimiento" name="tipoMovimiento">
              <option value="0">Seleccione tipo de movimiento</option>
              <option value="1">Ingreso</option>
              <option value="2">Egreso</option>
            </select>
          </div>
          <div class="form-group col-md-4" *ngIf="movimiento.tipoMovimiento != 0">
            <label class="col-form-label text-nowrap">Fecha:</label>
            <input type="date" class="form-control form-control-sm rounded-0 is-valid" autocomplete="off" disabled
              name="fecha" [(ngModel)]="fecha">
          </div>
          <div class="form-group col-md-4" *ngIf="movimiento.tipoMovimiento != 0">
            <label class="col-form-label text-nowrap">Número de operación:</label>
            <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="movimiento.numeroOperacion != 0" [class.is-invalid]="movimiento.numeroOperacion == 0"
              [(ngModel)]="movimiento.numeroOperacion" name="numeroOperacion">
          </div>
        </div>

        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 1">
          <div class="form-group col-md-12">
            <label class="col-form-label text-nowrap">Alumno:</label>
            <select type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="ingreso.idAlumno != 0" [class.is-invalid]="ingreso.idAlumno == 0"
              [(ngModel)]="ingreso.idAlumno" name="idAlumno">
              <option value="0">Seleccione Alumno</option>
              <option *ngFor="let alu of alumnos" value="{{alu.id}}">{{alu.apellidos}}, {{alu.nombres}}</option>
            </select>
          </div>
        </div>

        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 1">
          <div class="form-group col-md-4">
            <label class="col-form-label text-nowrap">Tipo de ingreso:</label>
            <select type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="ingreso.idTipoIngreso != 0" [class.is-invalid]="ingreso.idTipoIngreso == 0"
              [(ngModel)]="ingreso.idTipoIngreso" name="idTipoIngreso">
              <option value="0">Seleccione Tipo de ingreso</option>
              <option value="1">Tipo de ingreso 1</option>
              <option value="2">Tipo de ingreso 2</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label text-nowrap">Forma de pago:</label>
            <select type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="ingreso.idFormaPago != 0" [class.is-invalid]="ingreso.idFormaPago == 0"
              [(ngModel)]="ingreso.idFormaPago" name="idFormaPago">
              <option value="0">Seleccione Forma de pago</option>
              <option value="1">Forma de pago 1</option>
              <option value="2">Forma de pago 2</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label text-nowrap">Entidad bancaria:</label>
            <select type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="ingreso.idEntidadBancaria != 0" [class.is-invalid]="ingreso.idEntidadBancaria == 0"
              [(ngModel)]="ingreso.idEntidadBancaria" name="idEntidadBancaria">
              <option value="0">Seleccione Entidad bancaria</option>
              <option value="1">Entidad bancaria 1</option>
              <option value="2">Entidad bancaria 2</option>
            </select>
          </div>
        </div>

        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 1">
          <div class="form-group col-md-12">
            <label class="col-form-label text-nowrap">Observación:</label>
            <textarea type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="ingreso.observacion != 0" [class.is-invalid]="ingreso.observacion == 0"
              [(ngModel)]="ingreso.observacion" name="observacion" rows="2">
              </textarea>
          </div>
        </div>

        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 1">
          <div class="form-group col-md-8">
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label text-nowrap">Total:</label>
            <input type="number" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="ingreso.total != 0" [class.is-invalid]="ingreso.total == 0" [(ngModel)]="ingreso.total"
              name="total">
          </div>
        </div>

        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 1">
          <div class="form-group col-md-8">

          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label text-nowrap">A cuenta:</label>
            <input type="number" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="ingreso.cuenta != 0" [class.is-invalid]="ingreso.cuenta == 0"
              [(ngModel)]="ingreso.cuenta" name="cuenta">
          </div>
        </div>





        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 2">
          <div class="form-group col-md-12">
            <label class="col-form-label text-nowrap">Concepto de egreso:</label>
            <select type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="egreso.idConceptoEgreso != 0" [class.is-invalid]="egreso.idConceptoEgreso == 0"
              [(ngModel)]="egreso.idConceptoEgreso" name="idConceptoEgreso">
              <option value="0">Seleccione Concepto de egreso</option>
              <option value="1">Concepto de egreso 1</option>
              <option value="2">Concepto de egreso 2</option>
            </select>
          </div>
        </div>

        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 2">
          <div class="form-group col-md-12">
            <label class="col-form-label text-nowrap">Observación:</label>
            <textarea type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="egreso.observacion != 0" [class.is-invalid]="egreso.observacion == 0"
              [(ngModel)]="egreso.observacion" name="observacion" rows="2">
              </textarea>
          </div>
        </div>

        <div class="form-row" *ngIf="movimiento.tipoMovimiento == 2">
          <div class="form-group col-md-8">
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label text-nowrap">Total:</label>
            <input type="number" class="form-control form-control-sm rounded-0" autocomplete="off"
              [class.is-valid]="egreso.total != 0" [class.is-invalid]="egreso.total == 0" [(ngModel)]="egreso.total"
              name="total">
          </div>
        </div>



        <br *ngIf="movimiento.tipoMovimiento != 0" />
        <div class="form-row" style="justify-content: center" *ngIf="movimiento.tipoMovimiento != 0">
          <div class="form-group col-lg-3">
            <button type="button" class="form-control btn btn-info rounded-0 col-lg-12"
              (click)="cerrarModalInformacionMovimiento(1)">
              <span *ngIf="!editar">Registrar</span><span *ngIf="editar">Guardar cambios</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fin modal Información de Movimiento-->