<div>
  <div class="form-row">
    <div class="form-group mr-2">
      <button class="btn btn-success btn-sm float-right rounded-circle" style="width: 35px; height: 35px;"
        (click)="abrirModalInformacionFormaPago(-1)" title="Agregar nueva formapago">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="form-group mr-2">
      <button class="btn btn-success btn-sm float-right rounded-circle" style="width: 35px; height: 35px;"
        title="Exportar a Excel">
        <i class="far fa-file-pdf"></i>
      </button>
    </div>
    <h4 class="text-muted mb-4">Listado de Formas de pago</h4>
  </div> 

  <div class="form-row">
    <div class="form-group col-md-12">
      <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
        placeholder="Buscar FormaPagos..." (keyup)="buscarFormaPago($event)"/>
    </div>   
    
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table table-hover table-sm" *ngIf="hayFormaPagos(); else sinFormaPagos">
              <thead>
                <tr>
                  <th scope="col" width="4%" style="text-align: center">N</th>
                  <th scope="col" >Nombre</th>                  
                  <th scope="col" width="10%" style="text-align: center;">Acciones</th>                                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let formaPag of formapagos | paginate: config; let i = index">
                  <td scope="row" class="align-middle" style="text-align: center">{{config.itemsPerPage * (config.currentPage - 1) + (i + 1)}}</td>
                  <td class="align-middle" >{{ formaPag.nombre }}</td>                                                  
                  <td class="align-middle" style="text-align: center;">
                    <a class="btn btn-sm btn-primary rounded-0 mr-2" (click)="abrirModalInformacionFormaPago(config.itemsPerPage * (config.currentPage - 1) + (i))"
                      title="Ver / Editar información de FormaPago" style="cursor: pointer;">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger rounded-0 " (click)="eliminarFormaPago(config.itemsPerPage * (config.currentPage - 1) + (i))"
                    title="eliminar información de FormaPago" style="cursor: pointer;">
                    <i class="fas fa-trash"></i>
                  </a>                                        
                  </td>                  
                </tr>
              </tbody>
            </table>

            <div class="col-md-12 mt-4 mx-auto" style="text-align: center" *ngIf="hayFormaPagos() &&  formapagos.length >= 10">
              <pagination-controls (pageChange)="pageChange($event)" id="formapagos" previousLabel="Anterior"
                nextLabel="Siguiente" autoHide="true">
              </pagination-controls>
            </div>

            <ng-template #sinFormaPagos>
              <div class="row" style="text-align: center">
                <td class="col-md-12" style="text-align: center">
                  <h3>
                    No se encontraron
                    <span class="text-muted">FormaPagos</span>
                  </h3>
                </td>
                <td class="col-md-12">
                  <img src="../../../../assets/img/vacio.png" alt="No hay FormaPagos registrados"
                    width="30%" />
                </td>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!--Modal Información de FormaPago-->
  <div class="modal fade" id="modalInformacionFormaPago" tabindex="-1" data-backdrop="static" data-keyboard="false"
    role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-muted">
            <span *ngIf="!editar">Registrar</span><span *ngIf="editar">Editar</span> FormaPago
          </h4>
          <button type="button" class="close" (click)="cerrarModalInformacionFormaPago(0)" aria-label="Close"
            title="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="col-form-label text-nowrap">Nombre</label>
              <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off"
                [class.is-valid]="formapago.nombre.length != 0" [class.is-invalid]="formapago.nombre.length == 0"
                [(ngModel)]="formapago.nombre" name="formapagoNombre" maxlength="50" />
            </div>                       
          </div>                  
          <br />
          <div class="form-row" style="justify-content: center">
            <div class="form-group col-lg-4">
              <button type="button" class="form-control btn btn-info rounded-0 col-lg-12"
                (click)="cerrarModalInformacionFormaPago(1)">
                <span *ngIf="!editar">Registrar</span> <span *ngIf="editar">Guardar cambios</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin modal Información de FormaPago-->