<div>
  <h4 class="text-muted mb-4">Listado de Bitácoras</h4>

  <div class="form-row" *ngIf="registrosIniciales!=0">
    <div class="form-group col-xl-6">
      <input type="text" class="form-control form-control-sm rounded-0" autocomplete="off" required
        [(ngModel)]="buscar" name="buscar" (keyup)="buscador($event, 1)" placeholder="Buscar Usuario">
    </div>
    <div class="form-group col-xl-2">
      <select class="form-control form-control-sm rounded-0" [(ngModel)]="accion" (change)="buscador($event,2)">
        <option value="0">Seleccione acción</option>
        <option value="1">Accesos al sistema</option>
        <option value="2">Registros / Almacenamiento</option>
        <option value="3">Actualizaciones</option>
        <option value="4">Deshabilitaciones</option>
        <option value="5">Búsquedas</option>
      </select>
    </div>

    <div class="form-group col-xl-2">
      <input class="form-control form-control-sm rounded-0" placeholder="Desde" type="text" onfocus="(this.type='date')" [(ngModel)]="fechaini" (change)="buscador($event,3)">
    </div>

    <div class="form-group col-xl-2">
      <input class="form-control form-control-sm rounded-0" placeholder="Hasta" type="text" onfocus="(this.type='date')" [(ngModel)]="fechafin" (change)="buscador($event,4)">
    </div>

    <!--<div class="form-group col-xl-2 ">
      <button class="btn btn-success float-right w-100 rounded-0" (click)="abrirModalExportarExcel()">Exportar a EXCEL
        &nbsp;<i class="far fa-file-excel"></i></button>
    </div>-->

    <!--Modal Exportar EXCEL-->
    <div class="modal fade" id="exportarExcel" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
      aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 *ngIf="!false" class="modal-title text-muted" id="exampleModalLabel2">Seleccione los campos
            </h4>
            <button type="button" class="close" (click)="cerrarModalExportarExcel()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="form-row">
              <div class="form-group col-xl-12">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="campoNombre" (change)="cambioCampoNombre($event)" [disabled]="true">Nombre
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="campoCapacidad" (change)="cambioCampoCapacidad($event)">Capacidad Nacional
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="campoSubCapacidad" (change)="cambioCampoSubCapacidad($event)">Sub Capacidad Nacional
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="campoDescripcion" (change)="cambioCampoDescripcion($event)">Descripción
                  </label>
                </div>
              </div>

            </div>


            <div class="form-row">
              <div class="form-group col-lg-4">
              </div>
              <div class="form-group col-lg-4">
                <button type="button" class="form-control btn btn-info rounded-0 col-lg-12"
                  (click)="cerrarModalExportarExcel2()">
                  Exportar
                </button>
              </div>
              <div class="form-group col-lg-4">
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!--Fin modal Exportar EXCEL-->

    <!--Modal Descargar EXCEL-->
    <div class="modal fade" id="descargarExcel" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
      aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-xs modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 *ngIf="!false" class="modal-title text-muted" id="exampleModalLabel2">Descargar Reporte
            </h4>
            <button type="button" class="close" (click)="cerrarModalDescargarExcel()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="form-row">
              <div class="form-group col-xl-4">
                <label>Nombre del Archivo: </label>
              </div>
              <div class="form-group col-xl-8">
                <label>{{nombreReporte}}</label>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-xl-4">
                <label>Link de Descarga: </label>
              </div>
              <div class="form-group col-xl-8">
                <div id="imprime"></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!--Fin modal Descargar EXCEL-->

  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table table-hover table-sm" *ngIf="hayBitacoras(); else sinBitacoras">
              <thead>
                <tr>
                  <th scope="col" width="3%">N°</th>
                  <th scope="col" width="8%">Usuario</th>
                  <th scope="col" width="11%">Fecha y hora</th>
                  <th scope="col">Descripción</th>
                  <th scope="col" width="5%" style="text-align: center;">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bitacora of bitacoras |paginate: config ; let i = index">
                  <td scope="row" class="align-middle">{{ config.itemsPerPage * (config.currentPage - 1) + (i+1) }}</td>
                  <td scope="row" class="align-middle">{{ bitacora.nombreUsuario }}</td>
                  <td scope="row" class="align-middle">{{bitacora.fecha.substr(8,2)}}-{{bitacora.fecha.substr(5,2)}}-{{bitacora.fecha.substr(0,4)}} {{bitacora.fecha.substr(11,5)}}</td>
                  <td scope="row" class="align-middle">{{ bitacora.descripcion }}</td>
                  <td class="align-middle"  style="text-align: center;">
                    <a class="btn btn-sm rounded-0 mr-2" style="background-color: #D8D8D8;" title="ver datos de la bitácora"
                      routerLink="/verBitacora/{{bitacora.idBitacora}}">
                      <i class="fas fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="col-md-12 mt-4 mx-auto" style="text-align: center;" *ngIf="hayBitacoras() && bitacoras.length>=10">
              <pagination-controls (pageChange)="pageChange($event)"
                id="bitacoras"
                previousLabel=" Anterior"
                nextLabel="Siguiente"
                autoHide="true">
              </pagination-controls>
            </div>

            <ng-template #sinBitacoras>
              <div class="row" style="text-align: center;">
                <td class="col-xl-12" style="text-align: center;">
                  <h3>No se encontraron <span class="text-muted">Bitácoras de Usuario</span></h3>
                </td>
                <td class="col-xl-12">
                  <img src="../../../../assets/img/vacio.png" width="30%">
                </td>

              </div>
            </ng-template>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
